
body {

  font-size: 14px;
  line-height: 18px;
  color: #000000;
  font-weight: bold;
  font-family:  'PT Sans Narrow', sans-serif;
  text-transform: uppercase;
  background: #000000 url(img/bg.jpg) no-repeat center top;

  }

h1 {
  font-size: 30px;
  line-height: 42px;
  color: #000000;
  font-weight: bold;
  font-family:  'PT Sans Narrow', sans-serif;
}
h2 {
  font-size: 24px;
  line-height: 32px;
  color: #000000;
  font-weight: bold;
  font-family: 'PT Sans Narrow', sans-serif;
}
a {
  text-decoration: none;
}
.main-header {
  margin-bottom: 60px;
  }


.container {
  width: 940px;
  margin: auto;

}
.header-menu li {
  display: inline-block;
  vertical-align: top;
  margin-right: 20px;
}
.header-menu a {
  padding: 20px 25px;
  display: block;
  color: white;
}
.header-menu a:hover {
  background: #242424;
}
.user-block a {
  color: white;
}
.breadcrums li{
  margin-right: 10px;
  display: inline-block;

}
.main-navigation {
  float: left;
  width: 700px;
   max-height: 70px;
}
.user-block {
  float: right;
  width: 100px;
  padding: 23px 20px 23px 45px;
}
.clearfix::after {
  content: "";

  display: table;
  clear: both;
}

.breadcrums {
  margin-bottom: 60px;
}
.breadcrums-link {
  margin-right: 20px;
}
.filter {
  width: 180px;
  float: left;
}
.catalog {
  width: 730px;
  float: right;
}
.catalog-item {
  display: inline-block;
  margin-right: 10px;

}
.catalog-item:last-child {
  margin-right: 0;
}
.inner-footer {
    margin-top: 60px;
    padding-top: 60px;
  padding-bottom: 40px;

}
.footer-contact {
  float: left;
  width: 350px;
  margin-right: 60px;
}
.footer-social {
  float: left;
  width: 200px;
}
.footer-copyright {
  float: right;
  width: 200px;
}


.left-column {
  width: 500px;
  float: left;
  min-height: 500px;
}
.right-column {
  width: 430px;
  float: right;
  min-height: 500px;

}

.in-stock {
  float: left;

}
.article {
  float: right;
}

.small-foto li {
  width: 140px;
  height: 150px;
  margin-left: 20px;
  display: inline-block;
}
.small-foto li:first-child {
  margin-left: 0px;
}
.small-foto ul {
  padding-left: 0px;
}
